techchallengefase3.pdf
.env
.env.*
!.env.example
data/raw/*
!data/raw/*.dvc
data/processed/*
!data/processed/*.dvc
__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
.project-pending.md
